@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models

@if (Model.GetPropertyValue<bool>("showFeeds"))
{
        <div class="socialBx" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="200">
                <div class="container">
                    <div class="socialGalleryBx row">
                        <ul class="socialGallery" id="socialGallery">
                            
                        </ul>
                        <div class="clearfix"></div>
                    </div>    
                </div>
            </div>
    
}
