@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MasterPage.cshtml";
}
@section fullPage
{

<section id="content">
    @Html.Partial("MediaNewsArticle/BannerTest")
    @Html.Partial("MediaNewsArticle/Article")
</section>
 
  
}
@section footerScripts
{
}