@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<footer>
    <div class="footerLinks">
        <ul class="hidden-md hidden-lg">
        <li><a href="/about-us/lfz-profile/">About Us</a></li>
        <li><a href="/media/news-events/">Media</a></li>
        <li><a href="/why-lftz/overview/">Why LFZ</a></li>
        <li><a href="/resources/">Resources</a></li>
        <li><a href="/setting-up-lfz/application-process/">Setting Up @@ LFZ</a></li>
        <!--<li><a href="#">About Nigeria</a></li>-->
         <li><a href="/sustainability/">Sustainability</a></li>
       <li><a href="/careers/">Careers</a></li>
        <li><a href="/contact-us/">Contact Us</a></li>
        </ul>
        <div class="clearfix"></div>
        <div class="container hidden-sm hidden-xs">
            <div class="footernew">
                <a href="/about-us/lfz-profile/">About Us</a> | <a href="/why-lftz/overview/">Why LFZ</a>|
                <a href="/setting-up-lfz/application-process/">Setting Up @@ LFZ</a> |
                <a href="/resources/">Resources</a> | 
                <a href="/sustainability/">Sustainability</a> | 
               <a href="/media/news-events/">Media</a>
                </div>
                <br>
              <a href="/careers/" class="sub">Careers</a>
               <a href="/contact-us/" class="sub">Contact Us</a>
                <!--<a href="#" class="sub">About Nigeria</a>--><div class="clearfix">
                </div>
                </div>
                </div>
                <div class="container footerBtm">
                    <ul class="ftSocialIcon">
                        <li><a href="https://www.facebook.com/Lagos-Free-Zone-Tolaram-Group-103298821399147" target="_blank" class="fbIcon"></a></li>
                        <li><a href="https://twitter.com/lfztolaram" target="_blank" class="tweetIcon"></a></li>
                        <li><a href="https://www.instagram.com/lfztolaram/" target="_blank" class="instaIcon"></a></li>
                        <li><a href="https://www.linkedin.com/company/lagos-free-zone/" target="_blank" class="linkedIcon"></a></li>
                        </ul>
                        <span class="copyrightTxt">
                            <p><a href="/disclaimer/">Disclaimer</a> | <a href="/privacy-policy/">Privacy Policy</a> | <a href="/sitemap/">Sitemap</a></p>© 2020 Lagos Free Zone Company. All rights reserved</span><div class="clearfix">
                                
                            </div>
                            </div>
        </footer>